NEXT_PUBLIC_SUPABASE_URL=https://xykindgwltvgcrcuwmik.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5a2luZGd3bHR2Z2NyY3V3bWlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NjY3MTgsImV4cCI6MjA5OTM0MjcxOH0.L3jdPtOwX-VhKIKY7yr1lB_lm-pjyyR4okUbgPJFTeU

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5a2luZGd3bHR2Z2NyY3V3bWlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzc2NjcxOCwiZXhwIjoyMDk5MzQyNzE4fQ.AVAJYrKSlxPerWaV98yVotALY80JZ9NoU_QAamplxVU

NEXT_PUBLIC_SITE_URL=https://mentorle.in/
